*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    margin-top: 4rem;
}
p{
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: large;
}
body{
    background-color: #f87171;
    font-family: 'Qwitcher Grypen', cursive;
}

.container{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
label{
    margin:auto;
}
#check-button{
    width: 180px;
    height: 40px;
    margin: auto;
    font-size: medium;
    border: transparent;
}
#lucky-number{
    width: 240px;
    height: 30px;
    margin: auto;
    margin-bottom: 1.5rem;
}
#date-of-birth{
    width: 240px;
    height: 30px;
    margin: auto;
    margin-bottom: 1.5rem;
    
}